@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
    --color-primary: #F28E8E;
    --color-secondary: #FFDDE0;
    --color-third: #6B9A76;
}

* {
    font-family: 'Outfit';
}

body {
    position: relative;
    z-index: 0;
    /* create stacking context */
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* background: linear-gradient(322deg,rgba(191, 199, 255, 1) 0%, rgba(222, 240, 255, 1) 47%, rgba(255, 255, 255, 1) 100%); */
    background: linear-gradient(135deg, rgba(255, 248, 247, 1) 0%, rgba(255, 236, 238, 1) 50%, rgba(255, 224, 226, 1) 100%);

    z-index: -20;
    /* gradient layer */
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: -10;
    /* blur layer (above gradient, below content) */
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply w-2 h-0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

@media (max-width:740px) {
    .active p {
        @apply text-gray-200 bg-primary
    }
}